test/flow.json
[
    {
        "id": "inject1",
        "type": "inject",
        "name": "Topic mapping: all fixed fields (industrial)",
        "props": [
            { "p": "payload" },
            { "p": "topic" }
        ],
        "payload": "42.5",
        "payloadType": "num",
        "topic": "NNSTEEL/FVE/Hall/Meters/Inverter1/Live/ActivePower",
        "x": 200,
        "y": 80,
        "wires": [["timescaledb1"]]
    },
    {
        "id": "inject2",
        "type": "inject",
        "name": "Topic mapping: custom keys + overflow",
        "props": [
            { "p": "payload" },
            { "p": "topic" }
        ],
        "payload": "100",
        "payloadType": "num",
        "topic": "A/B/C/D/E/F/G/H/I/J",
        "x": 200,
        "y": 140,
        "wires": [["timescaledb2"]]
    },
    {
        "id": "inject3",
        "type": "inject",
        "name": "No topic, tags in msg",
        "props": [
            { "p": "payload" },
            { "p": "tags" },
            { "p": "measurement" },
            { "p": "field" }
        ],
        "payload": "55.2",
        "payloadType": "num",
        "tags": "{\"org\":\"ACME\",\"location\":\"Plant1\"}",
        "measurement": "temperature",
        "field": "value",
        "x": 200,
        "y": 200,
        "wires": [["timescaledb3"]]
    },
    {
        "id": "inject4",
        "type": "inject",
        "name": "Unit and timestamp override",
        "props": [
            { "p": "payload" },
            { "p": "unit" },
            { "p": "timestamp" }
        ],
        "payload": "100",
        "payloadType": "num",
        "unit": "kWh",
        "timestamp": "2025-05-19T10:00:00Z",
        "x": 200,
        "y": 260,
        "wires": [["timescaledb3"]]
    },
    {
        "id": "inject5",
        "type": "inject",
        "name": "Mapping in msg (overrides node)",
        "props": [
            { "p": "payload" },
            { "p": "topic" },
            { "p": "mapping" }
        ],
        "payload": "1",
        "payloadType": "num",
        "topic": "A/B/C/D/E/F",
        "mapping": "org/location/building/area/device/field",
        "x": 200,
        "y": 320,
        "wires": [["timescaledb3"]]
    },
    {
        "id": "inject6",
        "type": "inject",
        "name": "JSON payload (multiple fields)",
        "props": [
            { "p": "payload" },
            { "p": "topic" }
        ],
        "payload": "{\"temperature\": 21, \"humidity\": 55.2, \"active\": true, \"note\": \"ok\"}",
        "payloadType": "json",
        "topic": "Home/Prague/Flat/2ndFloor/Thermo1/Env/temperature",
        "x": 200,
        "y": 380,
        "wires": [["timescaledb4"]]
    },
    {
        "id": "inject7",
        "type": "inject",
        "name": "Ignore topic (use only fixed tags)",
        "props": [
            { "p": "payload" },
            { "p": "topic" }
        ],
        "payload": "77",
        "payloadType": "num",
        "topic": "SHOULD/BE/IGNORED",
        "x": 200,
        "y": 440,
        "wires": [["timescaledb5"]]
    },
    {
        "id": "timescaledb1",
        "type": "timescaledb",
        "name": "Write (industrial, full mapping)",
        "server": "config1",
        "schema": "industrial",
        "payloadType": "naked",
        "measurement": "",
        "field": "",
        "fixedTags": "{}",
        "topicMapping": "org/location/building/area/device/measurement/field",
        "ignoreTopic": false,
        "x": 600,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "timescaledb2",
        "type": "timescaledb",
        "name": "Write (custom mapping + overflow)",
        "server": "config1",
        "schema": "industrial",
        "payloadType": "naked",
        "measurement": "",
        "field": "",
        "fixedTags": "{}",
        "topicMapping": "org/location/-/foo/device/-/bar/measurement/field",
        "ignoreTopic": false,
        "x": 600,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "timescaledb3",
        "type": "timescaledb",
        "name": "Write (no topic, tags in msg)",
        "server": "config1",
        "schema": "industrial",
        "payloadType": "naked",
        "measurement": "temperature",
        "field": "value",
        "fixedTags": "{\"org\":\"ACME\",\"location\":\"Plant1\"}",
        "topicMapping": "org/location/building/area/device/measurement/field",
        "ignoreTopic": false,
        "x": 600,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "timescaledb4",
        "type": "timescaledb",
        "name": "Write (JSON payload)",
        "server": "config1",
        "schema": "home",
        "payloadType": "json",
        "measurement": "environment",
        "field": "",
        "fixedTags": "{\"name\":\"Home\",\"location\":\"Prague\",\"building\":\"Flat\",\"floor\":\"2ndFloor\",\"device\":\"Thermo1\"}",
        "topicMapping": "name/location/building/floor/device/measurement/field",
        "ignoreTopic": false,
        "x": 600,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "timescaledb5",
        "type": "timescaledb",
        "name": "Write (ignore topic)",
        "server": "config1",
        "schema": "industrial",
        "payloadType": "naked",
        "measurement": "fixed_measurement",
        "field": "fixed_field",
        "fixedTags": "{\"org\":\"IGNORE\",\"location\":\"IGNORE\"}",
        "topicMapping": "org/location/building/area/device/measurement/field",
        "ignoreTopic": true,
        "x": 600,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "config1",
        "type": "timescaledb-config",
        "host": "localhost",
        "port": 5432,
        "database": "testdb",
        "user": "postgres",
        "password": "postgres",
        "ssl": false
    }
] 