test/flow.json
[
    {
        "id": "inject_mqtt_full",
        "type": "inject",
        "name": "MQTT: full industrial mapping (naked)",
        "props": [
            { "p": "payload" },
            { "p": "topic" }
        ],
        "payload": "42.5",
        "payloadType": "num",
        "topic": "ACME/Plant1/Hall/Inverter1/power/active",
        "x": 240,
        "y": 80,
        "wires": [["mqtt_naked"]]
    },
    {
        "id": "inject_mqtt_json",
        "type": "inject",
        "name": "MQTT: JSON payload (fields from keys)",
        "props": [
            { "p": "payload" },
            { "p": "topic" }
        ],
        "payload": "{\"temperature\":21.5,\"humidity\":55,\"active\":true,\"note\":\"ok\"}",
        "payloadType": "json",
        "topic": "Home/Prague/Flat/Thermo1/env",
        "x": 240,
        "y": 140,
        "wires": [["mqtt_json"]]
    },
    {
        "id": "inject_mqtt_ignore",
        "type": "inject",
        "name": "MQTT: ignore topic (tags/meas/field from msg)",
        "props": [
            { "p": "payload" },
            { "p": "measurement" },
            { "p": "field" },
            { "p": "tags" }
        ],
        "payload": "77",
        "payloadType": "num",
        "measurement": "status",
        "field": "code",
        "tags": "{\"org\":\"ACME\",\"device\":\"Pump1\"}",
        "x": 240,
        "y": 200,
        "wires": [["mqtt_ignore"]]
    },
    {
        "id": "inject_payload_naked",
        "type": "inject",
        "name": "Payload: naked, tags from node",
        "props": [
            { "p": "payload" }
        ],
        "payload": "23.5",
        "payloadType": "num",
        "x": 240,
        "y": 280,
        "wires": [["payload_naked"]]
    },
    {
        "id": "inject_payload_override",
        "type": "inject",
        "name": "Payload: unit + timestamp override",
        "props": [
            { "p": "payload" },
            { "p": "unit" },
            { "p": "timestamp" }
        ],
        "payload": "100",
        "payloadType": "num",
        "unit": "kWh",
        "timestamp": "2025-05-19T10:00:00Z",
        "x": 240,
        "y": 340,
        "wires": [["payload_override"]]
    },
    {
        "id": "mqtt_naked",
        "type": "mqtt-to-timescaledb",
        "name": "MQTT (industrial, full mapping)",
        "server": "config1",
        "topicMapping": "org/location/building/device/measurement/field",
        "ignoreTopic": false,
        "payloadType": "naked",
        "unit": "",
        "fixedTags": "{}",
        "schema": "industrial",
        "x": 640,
        "y": 80,
        "wires": [["debug1"]]
    },
    {
        "id": "mqtt_json",
        "type": "mqtt-to-timescaledb",
        "name": "MQTT (home, JSON payload)",
        "server": "config1",
        "topicMapping": "name/location/building/device/measurement",
        "ignoreTopic": false,
        "payloadType": "json",
        "unit": "",
        "fixedTags": "{}",
        "schema": "home",
        "x": 640,
        "y": 140,
        "wires": [["debug1"]]
    },
    {
        "id": "mqtt_ignore",
        "type": "mqtt-to-timescaledb",
        "name": "MQTT (ignore topic, fixed + msg tags)",
        "server": "config1",
        "topicMapping": "org/name/location/building/area/floor/room/group/device/measurement/field",
        "ignoreTopic": true,
        "payloadType": "naked",
        "unit": "",
        "fixedTags": "{\"location\":\"Plant1\"}",
        "schema": "industrial",
        "x": 640,
        "y": 200,
        "wires": [["debug1"]]
    },
    {
        "id": "payload_naked",
        "type": "timescaledb",
        "name": "Payload (naked, fixed tags)",
        "server": "config1",
        "payloadType": "naked",
        "measurement": "temperature",
        "field": "value",
        "unit": "",
        "fixedTags": "{\"org\":\"ACME\",\"location\":\"Plant1\"}",
        "schema": "industrial",
        "x": 640,
        "y": 280,
        "wires": [["debug1"]]
    },
    {
        "id": "payload_override",
        "type": "timescaledb",
        "name": "Payload (unit + timestamp override)",
        "server": "config1",
        "payloadType": "naked",
        "measurement": "energy",
        "field": "total",
        "unit": "",
        "fixedTags": "{\"org\":\"ACME\"}",
        "schema": "industrial",
        "x": 640,
        "y": 340,
        "wires": [["debug1"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "name": "result",
        "active": true,
        "complete": "result",
        "targetType": "msg",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "config1",
        "type": "timescaledb-config",
        "name": "TimescaleDB (test)",
        "host": "localhost",
        "port": 5432,
        "database": "testdb",
        "ssl": false,
        "rejectUnauthorized": true,
        "ca": ""
    }
]
